body {
    background-color: #FFF2E1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

nav a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    background-color: #EAD8C0;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;
}

nav a:hover {
    transform: scale(1.2);
    color: #A79277;
    box-shadow:  1px 10px 10px rgb(124, 104, 78);
    transition: 0.7s ease-in;
}

header {
    text-align: center;
    background-color: #A79277;
    padding: 17px;
}

nav {
    margin: 10px;
}

header h1 {
    font-size: 45px;
}

.holovna {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.holovna img {
    border-radius: 10px;
}

.holovna p {
    width: 50%;
}

main {
    padding: 5%;
}

.menu {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menucarts {
    background-color: #A79277;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    width: 250px;
    text-align: center;
    font-size: 20px;
}

.menucarts img {
    width: 250px;
    height: 140px;
    border-radius: 15px;
}

.menucarts:hover {
    box-shadow: 1px 10px 10px rgb(124, 104, 78);
    transform: scale(1.05);
}

.vidhuk-text::before {
    content: url("/uploads/2021/03/message_0_1614945444.svg");
    width: 30px;
    height: 30px;
    display: inline-block;
}

.vidhuk {
    background-color: #ccc0a9;
    padding: 12px;
    margin: 12px;
    border-radius: 15px;
    width: 70%;
}

footer {
    background-color: #A79277;
    padding: 17px;
}

.knopka {
    text-decoration: none;
    background-color: #8f7d65;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: black;
}

.kontakty {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
